@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --theme-icon-fill: hsl(220, 13%, 40%);
    --theme-icon-fill-hover: hsl(220, 13%, 30%);
    @apply bg-primary-light;
  }

  html.dark {
    --theme-icon-fill: hsl(210 10% 70%);
    --theme-icon-fill-hover: hsl(210 15% 90%);
    @apply text-white bg-primary-dark;
  }
  
  body {
    @apply font-sans antialiased;
  }

  html, body {
    @apply min-h-screen;
  }

  input[type="text"] {
    @apply border-gray-300 dark:border-gray-600;
    &:focus {
      @apply outline-none ring-0 border-gray-300 dark:border-gray-600;
    }
  }
}

@layer components {
  .my-link {
    @apply rounded-lg hover:bg-gray-700/50 transition-all;
  }

  .my-btn {
    @apply block cursor-pointer rounded bg-gray-600 px-4 py-1 text-white disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50 dark:bg-gray-400 [&:not(:disabled)]:bg-teal-600 [&:not(:disabled)]:hover:bg-teal-700;
  }
}
